---
import Base from "../layouts/Base.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Propuesta from "../components/Propuesta.astro";
import Pilares from "../components/Pilares.astro";
import Experiencia from "../components/Experiencia.astro";
import Acceso from "../components/Acceso.astro";
import Footer from "../components/Footer.astro";
---
<Base>
  <Navbar />
  <main>
    <Hero />
    <Propuesta />
    <Pilares />
    <Experiencia />
    <Acceso />
  </main>
  <Footer />
</Base>
